## Dataframeの作成

- DataFrame(2次元配列，columns=[列名リスト])　という構文になっていることに注意

In [3]:
import pandas as pd
a = [['Alice',78],['bob',65],['Charlie',90]]
df = pd.DataFrame(a, index = ['a','b','c'],columns=['name','weight'])
df

      name  weight
a    Alice      78
b      bob      65
c  Charlie      90

# 演習１
以下の表をdataframeにしてみよ
<img src="table.jpg">

# 問題
- 上記のaは、tabelog_scraper2csv.pyではどのようにコーディングしているだろうか
-  pd.DataFrame(a, index = ['a','b','c'],columns=['name','weight'])は、どのようにコーディングしているか

## csvへの書き出し
以下の構文だと、文字コードの違いによるエラーを回避できるのでおすすめ

In [3]:
import codecs
with codecs.open("test1.csv", "w", "ms932", "ignore") as f: 
    
    df.to_csv(f, index=False, encoding="ms932", mode='w', header=True)

# 演習２
演習１で作成したdataframeをcsvに書き出せ